{% extends "base.html" %}
{% load static %}

{% block title %}<title>Change Password</title>{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-5">Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ password_form.as_p }}
                <button type="submit" class="btn btn-primary mb-2">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
